
<div class = "row m-4">
  <h2>Edit patient</h2>
  <%= form_for :patient, url: patient_path(@patient), method: :patch do |f| %>
    <p>
      First Name
      <%= f.text_field :first_name %>
    </p>
    <p>
      Last Name
      <%= f.text_field :last_name %>
    </p>
    <p>
      Email
      <%= f.text_field :email %>
    </p>
    <p>
      Age
      <%= f.number_field :age %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<div>


