<div class="row justify-content-center m-3">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h3>Patients</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= link_to patient.id, patient, class: "text-decoration-none text-info" %></td>
              <td><%= patient.first_name %></td>
              <td><%= patient.last_name %></td>
              <td><%= patient.email %></td>
              <td><%= patient.age %></td>
              <td>
                <% if can? :read, DiagnosisItem %>
                    <p>
                      <button class="btn btn-secondary show" id="<%= patient.id %>" type="button" data-bs-toggle="collapse" data-bs-target="#id<%= patient.id %>" aria-expanded="false" aria-controls="id<%= patient.id %>">
                        Show diagnosis items
                      </button>
                    </p>
                    <div class="collapse load" id="id<%= patient.id %>">
                      <div class="card card-body", id="show-items<%= patient.id %>">
                      </div>
                    </div>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <% if can? :create, Patient %>
          <%= link_to "Add Patient", new_patient_path, class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
