<div class="row m-4">
  <h2>Edit physician</h2>
  <%= form_for @physician do |f| %>
    <p>
      First Name
      <%= f.text_field :first_name %>
    </p>
    <p>
      Last Name
      <%= f.text_field :last_name %>
    </p>
    <p>
      Phone
      <%= f.text_field :phone_number %>
    </p>
    <p>
      Level
      <%= f.select :level, options_for_select(Physician::LEVEL, @physician.level) %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<div>


