<div class = "row m-4">
  <h2>Edit physician</h2>
  <%= form_for :physician, url: physician_path(@physician), method: :patch do |f| %>
    <p>
      First Name
      <%= f.text_field :first_name %>
    </p>
    <p>
      Last Name
      <%= f.text_field :last_name %>
    </p>
    <p>
      Email
      <%= f.text_field :phone_number %>
    </p>
    <p>
      Age
      <%= f.number_field :level %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<div>


