<div class = "row m-4">
  <h2>Edit appointment</h2>
  <%= form_for :appointment, url: appointment_path(@appointment), method: :patch do |f| %>
    <p>
      Physician:
      <%= f.collection_select :physician_id, Physician.all, :id, :first_name%>
    </p>
    <p>
      Patient:
      <%= f.collection_select :patient_id, Patient.all, :id, :first_name%>
    </p>
    <p>
      Appointment date:
      <%= f.datetime_field :appointment_date %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<div>

